%h1 Nanoc Twitter Bootstrap starter template
%p
  Use this document as Contact page.
%form.well.span8
  .row
    .span3
      %label First Name
      %input.span3{:placeholder => "Your First Name", :type => "text"}
        %label Last Name
        %input.span3{:placeholder => "Your Last Name", :type => "text"}
          %label Email Address
          .input-prepend
            %span.add-on
              %i.icon-envelope
            %input#inputIcon.span2{:placeholder => "Your email address", :style => "width:233px", :type => "text"}
          %label
            Subject
            %select#subject.span3{:name => "subject"}
              %option{:selected => "", :value => "na"} Choose One:
              %option{:value => "service"} General Customer Service
              %option{:value => "suggestions"} Suggestions
              %option{:value => "product"} Product Support
    .span7
      %label Message
      %textarea#message.input-xlarge.span5{:name => "message", :rows => "10"}
  %button.btn.btn-primary.pull-right{:type => "submit"} Send
