%h1 Nanoc Twitter Bootstrap Starter Template
%p
  Use this document as a way to quick start any new project. The following tools are in use:

%p
  %ul
    %li Haml
    %li Compass/Sass
    %li CoffeeScript
    %li Twitter-Bootstrap (bootstrap-sass)
    %li JQuery
    %li LiveReload
    %li MultiMarkdown
